body{
  background:#000;
  color:#00ff66;
  font-family:Consolas,monospace;
  text-align:center;
}
.container{
  width:350px;
  margin:80px auto;
  padding:20px;
  border:2px solid #00ff66;
  box-shadow:0 0 20px #00ff66;
}
input,button{
  width:100%;
  padding:10px;
  margin:8px 0;
  background:#000;
  border:1px solid #00ff66;
  color:#00ff66;
}
button:hover{
  background:#00ff66;
  color:#000;
  cursor:pointer;
}
.flag{
  border:1px dashed #00ff66;
  padding:15px;
  margin-top:20px;
}
